<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script type="text/javascript" src="bundle.js" defer async></script>
    </head>
    <body>
        <div id="main">
            <table>
                <tr>
                    <th>
                        <label for="first_name">first name</label>
                    </th>
                    <td>
                        <input id="first_name" v-model="firstName">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="last_name">last name</label>
                    </th>
                    <td>
                        <input id="last_name" v-model="lastName">
                    </td>
                </tr>
            </table>
            <hr>
            <section>
                {{ fullName }}
            </section>
        </div>
    </body>
</html>
            